ion-content {
	.addtarjeta{
        margin: 3rem 0 2rem 0;
        .item{
            color: gray;
            padding-left: 0;
        }
        ion-button{
            margin: 2rem 0;
            width: 100%;
            max-width: 100%;
        }
    }
}