<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
           <ion-label color="primary">Método de Pago</ion-label>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label>Efectivo</ion-label>
		<ion-checkbox color="primary" slot="end" [(ngModel)]="datamethod[1].checked" (click)="Selection('1')"></ion-checkbox>
	</ion-item>
	<ion-item>
		<ion-label><ion-icon [hidden]="!datamethod[1].checked" src="{{ methodtipo === 'VISA' ? 'assets/icon/ico-visa.svg' : methodtipo === 'AMEX' ? 'assets/icon/ico-amex.svg' : 'assets/icon/ico-mastercard.svg' }}"></ion-icon> {{tarjetaselected}}</ion-label>
		<ion-checkbox color="primary" slot="end" [(ngModel)]="datamethod[2].checked" (click)="Selection('2')"></ion-checkbox>
	</ion-item>
	<ion-item>
		<ion-label>Datáfono</ion-label>
		<ion-checkbox color="primary" slot="end" [(ngModel)]="datamethod[3].checked" (click)="Selection('3')"></ion-checkbox>
	</ion-item>
</ion-content>
