ion-content {
	.pro_dia {}
	.pro_hora {}
	.pro_continue {
		ion-button {
			width: 100%;
			max-width: 100%;
		}
	}
	h2 {
		color: var(--ion-color-primary);
		text-align: center;
	}
	.btn-continue {--background:var(--ion-color-primary);margin-top:20px;}
	.disabled {--background:gray;}
}