<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
           <ion-label color="primary">Programa tu pedido</ion-label>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div>
		<h2>Programa tu pedido</h2>
		<p style="padding: 8px 40px;text-align: center;">Selecciona el rango de hora que no sea<br>inferior a {{hourinterval}} horas</p>
	</div>
	<div class="pro_dia">
		<ion-item>
		  <ion-label>Día</ion-label>
		  <ion-datetime [(ngModel)]="dia" placeholder="Ingresa la fecha" (ionChange)="checkDate()" [min]="min" [max]="max" cancelText="Cancelar" doneText="Listo!" display-format="DDDD DD de MMMM de YYYY" picker-format="DD MMMM YYYY" day-names="Domingo, Lunes, Martes, Miércoles, Jueves, Viernes, Sábado" month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" [dayValues]="diashabiles"></ion-datetime>
		</ion-item>
	</div>
	<div class="pro_hora">
		<ion-item>
			<ion-label>De</ion-label>
			<ion-datetime [(ngModel)]="ini" placeholder="Ingresa la hora inicial" (ionChange)="checkDate()" minute-values="0,10,15,20,30,35,40,45,50,55" [hourValues]="hourvaluesini" cancelText="Cancelar" doneText="Listo!" displayFormat="hh:mm a" picker-format="HH:mm a"></ion-datetime>
		</ion-item>
	</div>
	<div class="pro_hora">
		<ion-item>
			<ion-label>Hasta</ion-label>
			<ion-datetime [(ngModel)]="fini" placeholder="Ingresa la hora final" (ionChange)="checkDate()" minute-values="0,10,15,20,30,35,40,45,50,55" [hourValues]="hourvaluesfini" cancelText="Cancelar" doneText="Listo!" displayFormat="hh:mm a" picker-format="HH:mm a"></ion-datetime>
		</ion-item>
	</div>
	<div class="pro_continue">
		<ion-item>
			<ion-button [ngClass]="{'btn-continue':true,'disabled':error==true}" size="large" (click)="continueCart()">Continuar Compra</ion-button>
		</ion-item>
	</div>
</ion-content>
