<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="openMenu()">
                <ion-icon src="assets/icon/ico-menu.svg" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="categoria" style="background-image: url(assets/imgs/section1.jpg)">
  </div>
  
  <div class="title_h" padding>Pedidos Recientes</div>

  <ion-col size="12" padding>
	<ion-list>
		<ion-item *ngFor="let item of compras?.slice().reverse()" [hidden]="isloading">
				<ion-col size="12">
					<div class="title_his">Compra de {{item.createdAt | date: "dd/MM/yyyy" }}</div>
					<div class="des_his">{{item.total | currency:"COP$":true:"1.0"}}</div>
					<!-- <div class="date_his">{{item.createdAt | date: "dd/MM/yyyy" }}</div> -->
					<div class="botones">
						<div class="boton">
							<div class="innerboton" (click)="ver(item.id)">Ver Resumen</div>
						</div>
						<div class="boton">
							<div class="innerboton twoboton" (click)="ayuda()">Pedir Ayuda</div>
						</div>
					</div>
				</ion-col>
		</ion-item>
	</ion-list>
  </ion-col>
  <div class="loader" [hidden]="!isloading"><img src="assets/imgs/load.gif" alt="Loading"></div>
</ion-content>