<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()">
        <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-label color="primary">Finaliza tu pedido</ion-label>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="light">
        <img src="../assets/imgs/logo.svg" class="logomain" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="finish">
    <ion-item>
      <ion-label class="label-start">Dirección</ion-label>
      <ion-label class="label-end"
        ><app-direcciones></app-direcciones
      ></ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="label-start">Programado</ion-label>
      <ion-label class="label-end small" (click)="setRange()"
        >{{range}}</ion-label
      >
    </ion-item>
    <ion-item>
      <ion-label class="label-start">Métodos de Pago</ion-label>
      <ion-label class="label-end" (click)="setMethod()">
        <ion-icon
          [hidden]="checkTarjeta()"
          src="{{ methodtipo === 'VISA' ? 'assets/icon/ico-visa.svg' : methodtipo === 'AMEX' ? 'assets/icon/ico-amex.svg' : 'assets/icon/ico-mastercard.svg' }}"
        ></ion-icon
        >{{method}}</ion-label
      >
    </ion-item>
    <ion-item [hidden]="checkTarjeta()">
      <ion-label class="label-start">Cuotas</ion-label>
      <ion-select [(ngModel)]="cuotas" value="1">
        <ion-select-option *ngFor="let number of [1,2,3,4,5,6,12,18,24,32,36]"
          >{{number}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="label-start label-propina">Propina</ion-label>
      <ion-label class="label-end">
        <div
          class="btn-select"
          [ngClass]="{'btn-selected':propina=='0'}"
          (click)="setPropina('0')"
        >
          $0
        </div>
        <div
          class="btn-select"
          [ngClass]="{'btn-selected':propina=='500'}"
          (click)="setPropina('500')"
        >
          $500
        </div>
        <div
          class="btn-select"
          [ngClass]="{'btn-selected':propina=='1000'}"
          (click)="setPropina('1000')"
        >
          $1000
        </div>
        <div
          class="btn-select"
          [ngClass]="{'btn-selected':propina>'1000'}"
          (click)="setPropina('1001')"
        >
          {{otherpropina}}
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="label-start">¿Bolsa Ecológica?</ion-label>
      <ion-label class="label-end">
        <div
          class="btn-se.lect right"
          [ngClass]="{'btn-selected':bolsa=='0'}"
          (click)="setBolsa('0')"
        >
          No
        </div>
        <div
          class="btn-select right"
          [ngClass]="{'btn-selected':bolsa=='1'}"
          (click)="setBolsa('1')"
        >
          Si
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Comentarios</ion-label>
      <ion-textarea
        placeholder="Escriba aquí..."
        [(ngModel)]="payload.comentarios"
      ></ion-textarea>
    </ion-item>
    <div class="title_res">Resumen</div>
    <ion-item class="resumen">
      <ion-label>Costo de productos</ion-label>
      <ion-label class="label-end">{{subtotal | currency:"COP$"}}</ion-label>
    </ion-item>
    <ion-item class="resumen">
      <ion-label>Costo de transporte</ion-label>
      <ion-label class="label-end">{{envio | currency:"COP$"}}</ion-label>
    </ion-item>
    <ion-item class="resumen">
      <ion-label>Bolsa Ecológica x {{bolsa}}</ion-label>
      <ion-label class="label-end">{{valor_bolsa | currency:"COP$"}}</ion-label>
    </ion-item>
    <ion-item class="resumen">
      <ion-label>Propina</ion-label>
      <ion-label class="label-end">{{propina | currency:"COP$"}}</ion-label>
    </ion-item>
    <ion-item class="resumen total-res">
      <ion-label>Total</ion-label>
      <ion-label class="label-end">{{total | currency:"COP$"}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-button
        color="primary"
        size="large"
        [hidden]="sending"
        (click)="checkout()"
        >Enviar Pedido</ion-button
      >
    </ion-item>
    <ion-item> </ion-item>
  </div>
</ion-content>
