<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="categoria" style="background-image: url(assets/imgs/cat4.jpg)">
  </div>
  
  <div class="t_opcion" padding>
    <h2>Recetas</h2>  
  </div>

  <ion-col size="12">

	<ion-slides [options]="sliderConfig">
	  <ion-slide *ngFor="let item of post" (click)="goReceta(item.id)">
	  	<div class="image_shop" [ngStyle]="{'background-image':'url('+item.image+')','background-size':'cover'}">
	  		<!--<img src="{{item.image}}"/>-->
	  	</div>
	  	<div class="title_shop">{{item.tituloEs}}</div>
	  </ion-slide>  
	</ion-slides>

  </ion-col>
  

  
</ion-content>
