ion-content {
	.total_cart {
		padding: 4px;
		float: left;
		width: 50%;
		text-align: left;	
		font-weight: bold;
    	color: #a7a7a7;
	}
	.total_cart_r {
		text-align: right;
	}
	.main {color: var(--ion-color-primary);}
	ion-button {width: 100%;}
	ion-item {
		.col-cart {
			float: left;
			img {width: 100%;}
		}
		.cf {width: 30%;}
		.ce {width: 70%;padding-left: 10px;}
		.col-ce {
			float: left;
			padding: 2px 5px;
		}
		.c80 {width: 60%;}
		.c20 {width: 40%;}
		.full {width: 100%;}
	}
	ion-select {
			max-width: 100%;
		    width: 100%;
		    border: 1px solid var(--ion-color-primary);
		    border-radius: 8px;
		    text-align: center;
		    color: var(--ion-color-primary);
	}
	ion-input {    
			border: 1px solid var(--ion-color-primary);
    		border-radius: 8px;
    		text-align: center;
    }
    .title_cart {
    	font-weight: bold;
    }
    .price_cart {
    	font-size: 3vw;
    }
}