<ion-header>
	<ion-toolbar>
		  <ion-buttons slot="start">
			  <ion-button color="light" (click)="openMenu()">
				  <ion-icon src="assets/icon/ico-menu.svg" size="large"></ion-icon>
			  </ion-button>
		  </ion-buttons>
  
		  <ion-title>
			 <ion-label color="primary">Carrito de Compras</ion-label>
		  </ion-title>
  
		  <ion-buttons slot="end">
			  <ion-button color="light">
				  <img src="../assets/imgs/logo.svg" class="logomain" />
			  </ion-button>
		  </ion-buttons>
	</ion-toolbar>
  </ion-header>
  
  <ion-content padding>
	  <ion-grid>
		  <ion-row>
			  <ion-col size="12">
				  <div class="total_cart">Subtotal</div>
				  <div class="total_cart total_cart_r">{{subtotal | currency:"COP$"}}</div>
  
				  <div class="total_cart">Transporte</div>
				  <div class="total_cart total_cart_r">{{envio | currency:"COP$"}}</div>
  
				  <div class="total_cart main">Total</div>
				  <div class="total_cart total_cart_r main">{{total | currency:"COP$"}}</div>
			  </ion-col>
			  <ion-col size="12">
				  <ion-button color="primary" (click)="continueCart()">Continuar Compra</ion-button>
				  <ion-button color="primary" fill="outline" (click)="clearCart()">Limpiar Carrito</ion-button>
			  </ion-col>
			  <ion-col size="12">
				  <ion-list *ngFor="let item of finalproductos; let k = index" (click)="gotoproduct(item.id)">
					  <ion-item>
						  <div class="deleteitem">
							  <ion-icon name="close-circle" size="large" (click)="removeCart(k)"></ion-icon>
						  </div>
						  <div class="col-cart cf">
							  <img src="{{item.imagen}}" alt="">
						  </div>
						  <div class="col-cart ce">
							  <div class="col-ce full">
									  <div class="title_cart">{{item.nombreEs}}</div>
									  <div class="price_cart">{{preciocart[k] | currency:"COP$" }}</div>
							  </div>
							  <div class="col-ce c80">
								  <ion-select color="primary" interface="popover" value="{{unittallacart[k]}}" disabled="true">
									  <ion-select-option *ngFor="let item of tallas" value="{{item.id}}">{{item.nombreEs}}</ion-select-option>
								  </ion-select>
							  </div>
							  <div class="col-ce c20">
									  <ion-input type="number" value="{{numcart[k]}}" color="primary" disabled="true"></ion-input>
							  </div>
						  </div>
					  </ion-item>
				  </ion-list>
			  </ion-col>
		  </ion-row>
	  </ion-grid>
  </ion-content>
  