ion-content {
    h2 {
        text-align: center;
        color: var(--ion-color-primary);
        font: 5VW 'GilroyB';
    }
    .innertext {
        text-align: justify;
        font: 3vw 'GilroyL';
    }
}