<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start" [hidden]="fromCartNav">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>
	
<ion-content padding>
	<div class="t_opcion">
		<p style="color: gray;text-align: center;">Para eliminar debes deslizar la tarjeta hacia la izquierda.</p>
	</div>
	<div class="tarjetas">
		<ion-list class="tarjeta" *ngFor="let item of tarjetas">
			<ion-item-sliding>
			    <ion-item>
			      <ion-icon src="{{item.icon}} {{ item.tipoTarjeta === 'VISA' ? 'assets/icon/ico-visa.svg' : item.tipoTarjeta === 'AMEX' ? 'assets/icon/ico-amex.svg' : 'assets/icon/ico-mastercard.svg' }}"></ion-icon>	
			      <ion-label>XXXX-XXXX-XXXX-{{item.ultimos}}</ion-label>
			      <ion-checkbox color="primary" [(ngModel)]="item.checked" (click)="Selection(item);"></ion-checkbox>
			    </ion-item>

			    <ion-item-options side="end">
			      <ion-item-option (click)="deleteTarjeta(item.id)" color="primary">Borrar</ion-item-option>
			    </ion-item-options>
			</ion-item-sliding>
      	</ion-list>
	</div>
	<div class="addtarjeta">
		<ion-button padding color="primary" (click)="goAddTarjeta()">Agregar Tarjeta <ion-icon name="add"></ion-icon></ion-button> 
		<ion-button padding color="primary" (click)="goBackT()" [hidden]="!fromCartNav">Cancelar</ion-button>
	</div>
</ion-content>
