ion-content {
	.label-start {text-align: left;}
	.label-end {text-align: right;}
	.title-done {text-align: center;color: var(--ion-color-primary);font-size: 6vw;margin-bottom: 25px;}
	ion-icon {
		position: relative;
	    top: 25px;
	    width: 2em;
	    height: 2em;
	}
}