<ion-app>
  <ion-menu menuId="mimenu" contentId="mycontent" side="start">
    <ion-content>
        <div class="user">
             <img src="assets/imgs/logo.png"/>
            <h2>{{user?.displayName}}</h2>
        </div>
        <ion-list padding>
            <ion-item (click)="openPage(item.Component)" [class.active-item]="checkActivePage(item.Component)" *ngFor="let item of items">
              <ion-label>
                {{ item.title }}
              </ion-label>
            </ion-item>
        </ion-list>
        <div style="text-align: center;color: white;font-size: 11px;">Versión 2.0.1</div><!--Version Actualizada: 05/08/2019-->
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="mycontent" main></ion-router-outlet>
</ion-app>