ion-content {
	.label-start {text-align: left;}
	.label-end {text-align: right;}
	.title-done {text-align: center;color: var(--ion-color-primary);font-size: 6vw;margin-bottom: 25px;margin-top: 20px;}
	ion-icon {
		position: relative;
	    top: 25px;
	    width: 2em;
	    height: 2em;
	}
	.productos {
		margin-bottom: 20px;
		border-bottom: 1px solid #d2d2d2;
		.producto-title {background: var(--ion-color-primary);color: white;padding: 4px;height: 45px;}
		.producto {padding: 4px;}
		.col {float: left;text-align: center;padding:4px;font-size: 3vw;}
		.col10 {width: 10%;}
		.col20 {width: 20%;}
		.col25 {width: 25%;}
		.col30 {width: 30%;}
	}
}