<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="title-done">
		{{status}}
	</div>
	<div class="productos">
		<div class="producto-title">
			<!--<div class="col col10">ID</div>-->
			<div class="col col30">Producto</div>
			<div class="col col20">Cant</div>
			<div class="col col20">Unidad</div>
			<div class="col col30">Subtotal</div>
		</div>
		<div class="producto clearfix" *ngFor="let item of productos">
			<!--<div class="col col10">{{ item.id }}</div>-->
			<div class="col col30">{{ item.nombre }}</div>
			<div class="col col20">{{ item.cantidad }}</div>
			<div class="col col20">{{ item.unidad }}</div>
			<div class="col col30">{{ item.precio | currency:"$":true:"1.0" }}</div>
		</div>
	</div>
	<ion-item></ion-item>
	<ion-item>
		<ion-label class="label-start">Fecha</ion-label>
		<ion-label class="label-end">{{fecha}}</ion-label>
	</ion-item>
	<ion-item>
		<ion-label class="label-start">Método</ion-label>
		<ion-label class="label-end">{{metodo}}</ion-label>
	</ion-item>
	<ion-item>
		<ion-label class="label-start">Bolsa</ion-label>
		<ion-label class="label-end">{{bolsa}}</ion-label>
	</ion-item>
	<ion-item>
		<ion-label class="label-start">Propina</ion-label>
		<ion-label class="label-end">{{propina | currency:"COP$":true:"1.0"}}</ion-label>
	</ion-item>
	<ion-item>
		<ion-label class="label-start">Total</ion-label>
		<ion-label class="label-end">{{total | currency:"COP$":true:"1.0"}}</ion-label>
	</ion-item>
	<ion-item>
		<ion-label class="label-start">Comentarios</ion-label>
		<ion-label class="label-end">{{comentarios}}</ion-label>
	</ion-item>
</ion-content>
