ion-header {
    ion-toolbar {
        height: 15vw;
        display: flex;
    }
    ion-title {
        ion-select {  max-width: 100% !important; }
    }
}
ion-content {
	.categoria {height: 40vw;}
	.t_opcion {background: #eee;}
	.producto {
	    height: auto;
	    width: 50%;
	    float: left;
    	padding: 8vw 2vw;
		border-bottom: 2px solid #dcdcdc;
		max-height: 335px;
		.image_shop {    
			min-width: 150px;
			display: block;
			position: relative;
			top: 0px;
			margin: 0 auto;
			min-height: 105px;
		    img {border-radius: 8px;}
		}
		.title_shop {
			position: relative;
		    font-size: 4vw;
		    text-align: center;
		    font-weight: bold;
			min-height: 85px;
			padding: 2px 4px;
		}
		.price_shop {
			position: relative;
		    font-size: 4vw;
		    text-align: center;
		    font-weight: bold;
		    color: var(--ion-color-primary)
		}
		.desde {
			text-align: center;
		    color: gray;
		    font-size: 4vw;
		}
		ion-button {
			width: 100%;
			font-size: 2vw;
		    position: relative;
		}
	}
}