<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="openMenu()">
                <ion-icon src="assets/icon/ico-menu.svg" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
            <app-direcciones [hidden]="nologin"></app-direcciones>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides class="rotador" pager="true">
        <ion-slide *ngFor="let slider of sliders">
            <a href="{{slider.link}}">
                <img src="{{urlimagen}}{{slider.imageEs}}"/>
            </a>
            
        </ion-slide>
    </ion-slides>

    <div padding [hidden]="isloading">
        <div class="user_anonimo" [hidden]="!nologin">Estas navegando como usuario invitado, para comprar debes <span (click)="goReg()">registrarte</span> o <span (click)="goLog()">iniciar sesión</span>.</div>
        <div class="t_opcion">
            <h2>Categorías de productos</h2>  
            <!-- <h2 class="button-option" (click)="verCategoria()">Ver todos</h2> -->
        </div>

        <div class="categorias" *ngFor="let item of categorias">
            <div class="cat" (click)="goShop(item.id)">
                <img src="{{item.imagen}}" alt="Categoria" style="width: 100%;">
            </div>
        </div>

    </div>
    <div class="loader" [hidden]="!isloading"><img src="assets/imgs/load.gif" alt="Loading"></div>

</ion-content>
  
