
ion-content {
    .rotador{
        height: 60vw;
        .swiper-slide img {
            max-height: inherit;
        }
    }
    .categorias{
        padding: 2vw 0;
        text-align: center;
        .cat {
            height: 35vw;
            margin-bottom: 5vw;
            border-radius: 4vw;
        }
    }
    .user_anonimo {text-align: center;color: gray;}
    .user_anonimo span {text-decoration: underline;color:var(--ion-color-primary);}
    

    @media only screen and (max-height: 640px) {
        .categorias{
            button{
                .icon{
                    width: 2.2em;
                    height: 2.2em;
                    font-size: 2.2em;
                }
                .label{
                    font-size: 0.7em;
                }
            }
        }    
    }

    @media only screen and (max-height: 568px) {
        .categorias{
            button{
                .icon{
                    width: 2em;
                    height: 2em;
                    font-size: 2em;
                }
                .label{
                    font-size: 0.7em;
                }
            }
        }    
    }
}
