<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div class="image_blog" [ngStyle]="{'background-image':'url('+post?.image+')','background-size':'cover'}">
	  	<!--<img src="assets/imgs/entrada1.jpg"/>-->
	</div>
	<div class="title_blog main">{{post?.tituloEs}}</div>

	<div class="des_blog" padding [innerHtml]="post?.contenidoEs">
	
	</div>

</ion-content>