ion-content {
	.image_blog {
		max-width: 200px;
    	margin: 0 auto;
		width: 200px;
		height: 200px; 
		border-radius: 50%;
	}
	.title_blog {
		text-align: left;
	    font-size: 6vw;
	    font-weight: bold;
	    color: var(--ion-color-primary);
	    margin: 10px 0; 
	}
	.main {font-size: 9vw;text-align: center;}
	.des_blog {text-align: justify;}
	ion-button {width: 100%; }
}