<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
            <ion-button color="light" (click)="goIntro()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
      <ion-grid>
        <ion-row padding>
            <ion-col size="12"> 
            	<ion-item>                                   
                  	<ion-input color="primary" type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
              	</ion-item>
              	<ion-item>                          
                	<ion-input color="primary" type="text" placeholder="Nombres" [(ngModel)]="name"></ion-input>
                  </ion-item>
                  <ion-item>                          
                	<ion-input color="primary" type="text" placeholder="Apellidos" [(ngModel)]="lastname"></ion-input>
              	</ion-item>
              	<ion-item>                                   
                  	<ion-input color="primary" type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
              	</ion-item>
              	<ion-item>                                   
                  	<ion-input color="primary" type="tel" placeholder="Teléfono" [(ngModel)]="tel"></ion-input>
              	</ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-button fill="outline" (click)="signup()">REGISTRARME</ion-button>
                <p>Al inscribírte, accedes a los <span (click)="goTerminos()">términos y condiciones</span></p>  
            </ion-col> 
            <ion-col size="12">
                  <ion-button size="small" color="fb" (click)="fbLogin()">Entra con Facebook</ion-button>
                  <ion-button size="small" color="gm" (click)="googleLogin()">Entra con Google+</ion-button>
             </ion-col>
            <ion-col size="12">
            	<ion-button size="small" fill="outline" (click)="goLog()">Iniciar sesión</ion-button>
            </ion-col> 
        </ion-row>
      </ion-grid>
</ion-content>
